/* #region Main */

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  color: #000000;
  background-color: #ffffff;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

main {
  flex-grow: 1;
  margin: 0 auto;
}

button {
  font-family: inherit;
  color: currentColor;
}

input {
  font-family: inherit;
}

/* #endregion */

/* #region Form */

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 36px 0;

  input {
    box-sizing: border-box;
    width: 272px;
    height: 40px;
    padding-left: 16px;
    transition: linear 150ms;
  }

  input::placeholder {
    color: #808080;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
  }

  input:hover {
    border-radius: 4px;
    border: 1px solid #000000;
  }
}

button {
  display: flex;
  padding: 8px 16px;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  transition: linear 150ms;
}

button:hover {
  border-radius: 8px;
  border: 0;
  background-color: #6c8cff;
}

button[type='button'] {
  margin: 36px auto;
}

/* #endregion */

/* #region Gallery */
.gallery {
  display: flex;
  flex-wrap: wrap;
  column-gap: 18px;
  row-gap: 36px;
  width: 1572px;
  height: 100%;
}

.gallery-item {
  width: calc((100% - 72px) / 5);
  width: 300px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transform: scale(1);
  transition: transform 150ms linear;
}

.gallery-item:hover {
  transform: scale(1.02);
}

.gallery-image {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.gallery-list {
  bottom: 60px;
  height: 50px;
  padding: 6px 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.gallery-data {
  text-align: center;
  color: #2e2f42;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.33;
  letter-spacing: 0.04em;
}

.datatext {
  display: block;
  font-weight: 400;
  line-height: 2;
}

/* #endregion */

/* #region iziToast Configuration */

.iziToast button {
  color: #fafafb !important;
  background-color: transparent !important;
}

/* #endregion */

/* #region Loader */

.loader {
  display: flex;
  margin: 36px auto;
  width: 48px;
  height: 48px;
  border: 5px solid;
  border-color: #ff3d00 transparent;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}

/* #endregion */
